%p#notice= notice

%p
  %b Title:
  = @image.title
%p
  %b Caption:
  = @image.caption
%p
  %b Height:
  = @image.height
%p
  %b Width:
  = @image.width
%p
  %b Gallery:
  = @image.gallery

= link_to 'Edit', edit_image_path(@image)
\|
= link_to 'Back', images_path
