!!!
%html
  %head
    %title= "#{@page.title} : Julia Schramm"
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width, minimum-scale=1.0, maximum-scale=1.0' }
    = render 'layouts/analytics'
  %body
    .body
      = render 'layouts/sidebar'
      
      .content
        = yield
    
    = render 'layouts/login'
    
    - if current_user
      :javascript
        setupFileUpload();
